@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0 0 0 20px;
}

.inputs-container {
  width: 30%;
  padding: 20px;
  background-color: #f0f0f0;
  overflow-y: auto;
}

.timetable-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

h2 {
  margin-top: 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input,
select,
button {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  overflow-x: auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.subject-list {
  list-style-type: none;
  padding: 0;
}

.subject-list li {
  margin-bottom: 5px;
}

.remove-btn {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #d32f2f;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
